@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.add-task-modal {
  // border-radius: 20px;
  &__header {
    color: $white;
    background-color: $secondary-color;
  }
  &__body {
    background-color: $primary-color;
    label {
      color: $very-light-grey;
    }
    input {
      background-color: $dark-grey;
      color: $white;
      font-size: $md;
      letter-spacing: 1.3px;
      height: 45px;
    }
    input#description {
      font-size: $md;
      align-items: flex-start;
      justify-content: left;
      height: 100px;
    }
    button:last-child {
      position: absolute;
      bottom: 10px;
      right: 10px;
      text-transform: uppercase;
      background-color: $color-alpha;
      color: $white;
      transition: transform 0.2s;
    }
    button:last-child:hover {
      background-color: $color-beta;
      transform: scale(1.02);
    }
  }
  &__footer {
    background-color: $secondary-color;
  }
}
