@use '../abstracts/variables' as *;

.add-modal {
  &__header {
    border-radius: 0;
    color: $white;
    background-color: $secondary-color;
    border: none;
  }
  &__body {
    background-color: $primary-color;
    border: none;
    label {
      color: $very-light-grey;
    }

    .input,
    .select {
      background-color: $dark-grey;
      color: $white;
      font-size: $sm;
      letter-spacing: 1.3px;
      height: 45px;
    }

    .input#notes {
      height: 100px;
    }
    //Only for add list modal
    .input#description {
      height: 100px;
    }
    .alert {
      color: $light-red;
    }

    .expired-msg {
      font-size: $sm;
      margin-left: 20px;
      padding: 0;
      font-weight: 100;
    }
    // Place Holder CSS
    ::-webkit-input-placeholder {
      opacity: 0.5;
      -webkit-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
    :-moz-placeholder {
      opacity: 0.5;
      -moz-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
    ::-moz-placeholder {
      opacity: 0.5;
      -moz-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
    :-ms-input-placeholder {
      opacity: 0.5;
      -ms-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
    /* Place Holder CSS for Focus */
    :hover::-webkit-input-placeholder {
      opacity: 0.75;
      -webkit-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
    :hover:-moz-placeholder {
      opacity: 0.75;
      -moz-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
    :hover::-moz-placeholder {
      opacity: 0.75;
      -moz-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
    :hover:-ms-input-placeholder {
      opacity: 0.75;
      -ms-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }

    /* Place Holder CSS for Focus */
    :focus::-webkit-input-placeholder {
      opacity: 0;
      -webkit-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
    :focus:-moz-placeholder {
      opacity: 0;
      -moz-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
    :focus::-moz-placeholder {
      opacity: 0;
      -moz-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }
    :focus:-ms-input-placeholder {
      opacity: 0;
      -ms-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
    }

    button:last-child {
      position: absolute;
      bottom: 10px;
      right: 10px;
      text-transform: uppercase;
      background-color: $color-alpha;
      color: $white;
      transition: transform 0.2s;
    }
    button:last-child:hover {
      background-color: $color-beta;
      transform: scale(1.02);
    }
  }
  &__footer {
    background-color: $secondary-color;
  }
}

.hide {
  display: none;
}
