@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.add-task-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  @include add-btn;
}

.add-task-btn.active {
  background-color: $ajax-red;
  transform: rotate(45deg);
}
