@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.add-task-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  @include add-btn;
}

.add-task-btn.active {
  background-color: $ajax-red;
  transform: rotate(45deg);
}
