@use '../abstracts/variables' as *;

.list-container {
  margin-bottom: 50px;
  color: $white;

  .title {
    font-size: $lg;
  }
  .list-list {
    .list-item {
      height: 150px;
      width: 450px;
      background-color: $secondary-color;
      margin: 0 20px;
      margin-bottom: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      transition: transform 0.2s;
      cursor: pointer;
      .n-tasks {
        color: $dark-grey;
      }
    }
    .list-item:hover {
      background-color: $secondary-color-hover;
    }
  }
}
