@use '../abstracts/variables' as *;

.list-container {
  margin-bottom: 50px;
  color: $white;

  .title {
    font-size: $lg;
  }
}

.lists-container-lists-page {
  .list-item {
    height: 150px;
    width: 450px;
  }
}
