@use '../abstracts/variables' as *;

.task-list-container {
  color: $white;
  .title {
    font-size: $lg;
  }
  .subtitle {
    font-size: $md;
    margin-left: 40px;
    .icon {
      cursor: pointer;
      margin: auto 0;
    }
  }
}
