@use '../abstracts/variables' as *;

.task-list {
  height: auto;
  width: 100%;
  background-color: $primary-color;
  .task-item {
    margin: 0 auto;
    letter-spacing: 1px;
    height: auto;
    min-height: 55px;
    width: 90%;
    font-size: $sm;
    background-color: $secondary-color;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 15px;
    position: relative;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    .icon {
      height: 20px;
      color: $dark-grey;
    }
    .star--checked {
      color: $star-color;
    }
  }
  .task-item:hover {
    background-color: $secondary-color-hover;
    transform: scale(1.005);
  }
}
