@use '../abstracts/variables' as *;

.navbar {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  background-color: $secondary-color;
  //   border-bottom-left-radius: 20px;
  //   border-bottom-right-radius: 20px;
  color: $white;
  z-index: 100;

  .menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5px;
    left: 10px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    button {
      color: $white;
      opacity: 1;
      font-size: $md;
      //   font-weight: 400;
      transition: 200ms;
    }
    button:hover {
      opacity: 0.5;
    }
    ul {
      padding: 0;
      list-style-type: none;
    }

    input {
      display: flex;
      width: 40px;
      height: 32px;
      position: absolute;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
    }
    span {
      display: flex;
      width: 29px;
      height: 2px;
      margin-bottom: 5px;
      position: relative;
      background: #ffffff;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 5px 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    }
    span:first-child {
      transform-origin: 0% 0%;
    }
    span:nth-last-child(3) {
      width: 15px;
    }
    span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
    input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-3px, -1px);
      background: $light-red;
    }
    input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
    }
    .menu {
      position: absolute;
      width: 250px;
      height: 650px;
      margin: -50px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;
      background-color: $secondary-color;
      box-shadow: 0 0 10px #000000;
      border-bottom-right-radius: 20px;
      -webkit-font-smoothing: antialiased;
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

      li {
        padding: 24px 0;
        transition-delay: 2s;
        & > * {
          margin-left: 16px;
        }
        & > *:first-child {
          color: $color-beta;
          padding-bottom: 1px;
        }
      }
    }
    input:checked ~ ul {
      transform: none;
    }
    li.account {
      position: absolute;
      bottom: 60px;
      border-top: solid 1px $very-light-grey;
      padding-top: 50px;
    }

    .footer {
      position: absolute;
      bottom: 10px;
      right: 20px;
      background-color: $secondary-color-hover;
      border-radius: 10px;
      display: flex;
      margin-top: 20px;

      .footer-icon {
        margin: 5px;
        width: 25px;
      }
      .footer-icon.github {
        border-radius: 10px;
        // background-color: $white;
      }
    }
  }
  .title {
    position: fixed;
    top: 38px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: $lg;
  }
  .search-box {
    position: relative;
    top: -22px;
    right: 10px;
    margin: 0;
    padding: 0;
    .input-search {
      position: fixed;
      top: 35px;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 50px;
      width: 20px;
      border-style: none;
      padding: 10px;
      font-size: 18px;
      letter-spacing: 2px;
      outline: none;
      transition: all 0.4s ease-in-out;
      background: none;
      padding-right: 40px;
      pointer-events: none;
      z-index: 101;
    }
    .input-search::placeholder {
      color: $very-light-grey;
      font-size: $sm;
      letter-spacing: 2px;
      font-weight: 100;
    }
    .btn-search {
      width: 50px;
      height: 50px;
      border-style: none;
      font-size: 20px;
      font-weight: bold;
      outline: none;
      cursor: pointer;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0px;
      background-color: $secondary-color;
      pointer-events: painted;
    }
    .input-search--active {
      pointer-events: auto;
      width: 350px;
      background-color: $secondary-color;
      border-bottom: 1px solid $dark-grey;
    }
    .input-search:focus {
      pointer-events: auto;
      width: 400px;
      background-color: $secondary-color;
      border-bottom: 1px solid $color-alpha;
    }
    @media screen and (max-width: 600px) {
      .input-search--active {
        width: 200px;
      }
      .input-search:focus {
        width: 250px;
      }
    }
  }
}
