@use '../abstracts/variables' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: $primary-color;
  color: $very-light-grey;
  padding-top: 70px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
