@use '../abstracts/variables' as *;

@mixin section {
  background-color: $secondary-color;
  border-radius: 20px;
}
@mixin section-header {
  width: 100%;
  height: 16%;
  background-color: $secondary-color;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 24px;

  .title {
    color: $white;
    font-size: $lg;
    margin: 0;
  }
}

@mixin add-btn {
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  background: $color-alpha;
  transition: 0.2s ease-in-out;
  cursor: pointer;

  .line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 4px;
    border-radius: 2px;
    background: $white;
    transform-origin: center;
    transition: width 0.15s ease-in-out;
    transform: translate(-50%, -50%) rotate(90deg);

    &:nth-child(2) {
      transform: translate(-50%, -50%);
    }
    &:hover .line {
      width: 22px;
    }
  }
}
