@use '../abstracts/variables' as *;

@mixin add-btn {
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  background: $color-alpha;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  z-index: 100001;

  .line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 4px;
    border-radius: 2px;
    background: $white;
    transform-origin: center;
    transition: width 0.15s ease-in-out;
    transform: translate(-50%, -50%) rotate(90deg);

    &:nth-child(2) {
      transform: translate(-50%, -50%);
    }
    &:hover .line {
      width: 22px;
    }
  }
}
