//Colors
$primary-color: #171719;
$secondary-color: #232229;
$secondary-color-hover: #2c2b34;
$white: #ffffff;
$very-light-grey: #b9babe;
$dark-grey: #4a494c;
$light-red: #ed7f7f;
$ajax-red: #d2122e;
$alert-red: #ff2a2ad2;
$color-alpha: #3168e0;
$color-beta: #fb7447;
$color-gamma: #64f5f8;
$star-color: gold;
$loading: rgb(169, 169, 169);
$loading-very-light: #b7b7b7;
$loading-light: #fff6f6;
//Font-sizes
$lg: 24px;
$md: 18px;
$sm: 14px;
