//Colors
$primary-color: #171719;
$secondary-color: #232229;
$white: #e7e9ea;
$very-light-grey: #b9babe;
$dark-grey: #4a494c;
$light-red: #ed7f7f;
$ajax-red: #d2122e;
$color-alpha: #3168e0;
$color-beta: #fb7447;
$color-gamma: #64f5f8;

//Font-sizes
$lg: 27px;
$md: 18px;
$sm: 14px;
